.body{
  font-weight: 100 !important;
}
.sidebar-disclaimer {
  margin-top: 2rem;
  font-size: 0.7rem;
}
.sidebar-disclaimer p{
	margin: 0.4rem 0 0 0;
}
.sidebar-disclaimer a{
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
.sidebar-disclaimer a:hover{
  color: rgba(255, 255, 255, 1.0);
  text-decoration: underline;
}

.sidebar-social img{
  display: inline !important;
  margin-right: 0.1rem;
}

.sidebar-social img:hover{
	opacity: .6
}

.sidebar-social {
  display: inline !important;
}

.sidebar-avatar{
  filter: grayscale(100%);
}

.mainpage{
  padding-top: 5rem;
}

.page a{
}


/*
 * POSTS.
 *
 */
.posts{
  margin-top: 3rem;
  font-size: 0.8rem;
}

.posts .title{
  font-weight: bold;
}
.posts .timetag{
  /* color: #878787; */
  font-weight: 200;
}
.post{
    margin-top: 0.5rem 0 0 0;
}


/* MAP & TALKS*/
#talk_map{
  height: 512px;
  margin-bottom: 2rem;
}

.talk_table{
  font-size: 0.7rem;
}
.talk_table img{
  min-width: 2rem;
  max-width: 2rem;
  margin: 0;
}
.wide{
  max-width: 65rem !important;
}

.info_legend{
 border-radius: 0.5rem;
 background-color: rgba(100, 100, 100, 0.7);
 padding: 0.6rem;
 font-size: 0.7rem;
 font-weight: bold;
 color: #fefefaaf;
}
.info_legend div{
  margin: 0;
  vertical-align: middle;
  height: 1.5rem;
  line-height: 1.5rem;
  white-space: nowrap;
}

.info_legend img{
 display: inline;
 width: 1.25rem;
 margin: 0rem 0.2rem 0 0;
}



 /* Tooltip container */
 .tooltip {
   position: relative;
   display: inline-block;
   font-size: 0.6rem;
 }

 /* Tooltip text */
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: #555;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;

   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -40px;

   /* Fade in tooltip */
   opacity: 0;
   transition: opacity 0.3s;
 }

 /* Tooltip arrow */
 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 30%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }

 /* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }
