html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono';
  font-size: 20px;
}

body{
  background-image: url("../img/board.jpg");
  background-size: 50% auto;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: white;
}

p{
  margin: 0;
}

#left{
  color: white;
  height: 100%;
  float: left;
  text-align: right;
}

#right{
  height: 100%;
  color: black;
  float: left;
  background-color: white;
}

/* Nametag */
#nametag{
  margin: 35% 0 0 0;
}
#nametag .name{
  font-size: 54px;
  font-weight: bold;
}
#nametag .subname{
  font-size: 24px;
}
#nametag .links{
  margin-top: 20px;
}
#nametag .links img{
  margin-left: 10px;
}


/* Navigation */
nav{
  margin-top: 50px;
  font-size: 24px;
}

nav p{
  margin-bottom: 10px;
}

.current {
  font-weight: bold;
}
