@media (max-width: 48em) {
  .timeline{
    position: relative;
    margin-top: -3rem;
  }
}

.timeline .block{
    margin: 2rem 0 0 0;
}

.timeline .block_header{
  font-family: 'Roboto Slab';
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 0 0.4rem 0;
  /* color: black; */
  /* position: relative; */
}

/* general entry structure. */
.timeline .entry{
  margin: 0 0 0 9rem;
  border-left: 2px solid;
  padding: 0.2rem 0 0.2rem 1.5rem;
  position: relative;
  max-width: 30rem;
}

.timeline .timespan{
  text-align: right;
  font-weight: 400;
  font-family: "Source Sans Pro";
  float: left;
  width: 6.5rem;
  font-size: 0.7rem !important;
  position: absolute;
  left: -8rem;
  line-height: 1.5rem;
  vertical-align: middle;
}


.timeline .work::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.4rem;
  top: 0.65rem;
  vertical-align: top;
  border: 2px solid #515151;
  border-radius: 50%;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
}

.work .subtitle{
  font-weight: 200;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}
.work .text{
  color: gray;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding-bottom: 0.4rem;
  text-align: justify;
  text-justify: inter-word;
}

.work .head{
  font-weight: bold;
  font-size: 1rem;
}


.timeline .meta{
  position: relative;
}

.timeline .meta::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.33rem;
  top: 0.7rem;
  vertical-align: top;
  border: 2px solid #515151;
  border-radius: 0%;
  background-color: white;
  width: 0.35rem;
  height: 0.12rem;
  padding-top: 0.24rem;
}

.meta .head{
  font-weight: 200;
  font-family: "Roboto Slab";
  font-size: 1rem;
  /* padding: 0 0 10px 0; */
}

.timeline .short{
  padding-bottom: 0.2rem !important;
}

.triangle {
}


/* .teaching::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.4rem;
  top: 0.65rem;
  vertical-align: top;
  border: 2px solid #515151;
  border-radius: 50%;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
} */


.teaching::before{
  content: '';
  position: absolute;
  display: block;
  left: -0.33rem;
  top: 0.5rem;
  vertical-align: top;
  border: 5px solid #515151;
  border-radius: 0%;
  background-color: white;
  width: 0.35rem;
  height: 0.12rem;
  padding-top: 0.24rem;

}


.teaching .head{
  font-weight: bold;
  font-size: 0.8rem;
  color: gray;
}
.teaching .courses{
  font-size: 0.6rem;
  /* border-radius: 5px; */
  /* padding: 0.5rem; */
}
.teaching .ctag{
  font-weight: bold;
}


.Chevron{
    position:relative;
    display:block;
    height:50px;/*height should be double border*/
}
.Chevron:before,
.Chevron:after{
    position:absolute;
    display:block;
    content:"";
    border:25px solid transparent;/*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.Chevron:before{
    left:0;
    border-left-color:#b00;/*Chevron Color*/
}
.Chevron:after{
    left:-20px;/*adjust thickness*/
    border-left-color:#fff;/*Match background colour*/
}
