<div id="nametag">
  <p class='name'>Lukas Rammelmüller</p>
  <p class='subname'>PhD candidate @ TU Darmstadt</p>
  <p class='links'>
    <a href="https://twitter.com/rammelmuller" target='blank'><img width=26px src="img/twitter_tight.png" alt=""></a>
    <a href="https://github.com/rammelmueller" target='blank'><img width=26px src="img/github.png" alt=""></a>
    <a href="https://orcid.org/0000-0002-4945-7955" target='blank'><img width=25px src="img/orcid.png" alt=""></a>
    <a href="https://scholar.google.com/citations?user=0vJK3-cAAAAJ&hl=en" target='blank'><img width=25px src="img/scholar.png" alt=""></a>
  </p>
</div>
