---
layout: default
---
<h1 class="page-title">Talks & Posters</h1>

{{ page.content }}
<div id="talk_map"></div>

<!-- Init & configure the map -->
<script type="text/javascript">

  // Init view is on the theory center in Darmstadt.
  var mymap = L.map('talk_map').setView([49.878292, 8.656101], 2);

  // var map = new mapboxgl.Map({
  //   container: 'map', // HTML container ID
  //   style: 'mapbox://styles/mapbox/streets-v9', // style URL
  //   center: [-21.9270884, 64.1436456], // starting position as [lng, lat]
  //   zoom: 13
  // });

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
      maxZoom: 8,
      minZoom: 2,
      zoomOffset: -1,
      tileSize: 512,
      id: 'mapbox/light-v10',
      accessToken: 'pk.eyJ1IjoicmFtbWVsbXVlbGxlciIsImEiOiJjanZjd2djMWMwazgyNDNydmFzaDhtNmEzIn0.hgrDnlwFQjI3SLm7AXQJWw'
  }).addTo(mymap);

  // Produce different markers.
  var LeafIcon = L.Icon.extend({
      options: {
          iconSize:     [38, 95],
          iconAnchor:   [19, 70]
      }
  });

  L.icon = function (options) {return new L.Icon(options);};

  // initialize the dict.
  var settings = {
    "contributed" : {
      "icon": new LeafIcon({iconUrl: '/img/location_contributed.svg'}),
      "count" : 0,
      "prefix" : "Conference talk"
    },
    "seminar" : {
      "icon": new LeafIcon({iconUrl: '/img/location_seminar.svg'}),
      "count" : 0,
      "prefix" : "Seminar talk"
    },
    "poster" : {
      "icon": new LeafIcon({iconUrl: '/img/location_poster.svg'}),
      "count" : 0,
      "prefix" : "Poster presentation"
    },
    "virtual" : {
      "icon": new LeafIcon({iconUrl: '/img/location_virtual.svg'}),
      "count" : 0,
      "prefix" : "Virtual presentation"
    },
  };

  // produce the markers on the map.
  all_talks = {
    2021:[], 2020:[], 2019:[], 2018:[], 2017:[]
  };
  years = Object.keys(all_talks);
  years.sort(function(a, b){return b-a});
  console.log(years);
  {% for node in site.data.talks %}

    var t = '{{node.type}}';
    var v = '{{node.venue}}';
    settings['{{node.type}}']['count'] += 1;
    if (v == "virtual") {
      settings["virtual"]["count"] += 1;
    }
    if (v != "virtual") {
      tooltip = settings[t]['prefix'] +  " @ {{node.event}} ({{ node.venue }})";

      var marker = L.marker([{{node.x}}, {{node.y}}], {icon: settings[t]["icon"]}).addTo(mymap);
      marker.bindPopup(tooltip);
      marker.on('mouseover', function (e) { this.openPopup(); });
      marker.on('mouseout', function (e) { this.closePopup(); });
    }
    var y = '{{node.year}}';
    all_talks[y].push(
      {
        "icon" : '{% if node.venue == "virtual" %}/img/location_virtual_{{node.type}}.svg{% else %}/img/location_{{node.type}}.svg{%endif%}',
        "title" : "{{ node.title }}",
        "file" : "{{ node.file }}",
        "description" : "{% if node.event %} {{node.event}} @ {% endif %}{{ node.venue }}",
        "date" : "{{node.date}}",
      }
    );

  {% endfor %}


  // add a legend.
  var legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info_legend');
    labels = [];
    for (var key in settings) {
            div.innerHTML += labels.push('<div><img src="/img/location_'+key+'.svg">' + settings[key]['prefix']+'s: '+settings[key]['count'] +'</div>');
        }
        div.innerHTML = labels.join(' ');
    return div;
  };
  legend.addTo(mymap);
</script>

<script type="text/javascript">

  function make_row(icon, title, file, description, date){
    var row = document.createElement('tr');

    var col = document.createElement('td');
    if (icon) {
      var img = document.createElement('img');
      img.setAttribute('src', icon);
      col.appendChild(img);
    }
    col.setAttribute("style", "width:5%");
    row.appendChild(col);

    var col = document.createElement('td');
    col.innerHTML = '<a target="blank" class="sidebar-nav-item" href="'+file+'">'+title+'</a>';
    col.setAttribute("style", "width:40%");
    row.appendChild(col);

    var col = document.createElement('td');
    col.innerHTML = description;
    col.setAttribute("style", "width:40%");
    row.appendChild(col);

    var col = document.createElement('td');
    col.innerHTML = date;
    col.setAttribute("style", "width:15%");
    row.appendChild(col);

    return row;
  };

  var cont = document.getElementById("page_container");

  for (year of years) {
    var header = document.createElement('div');
    header.setAttribute("class", "talk_header");
    header.innerHTML=year;
    cont.appendChild(header);

    var table = document.createElement("table");
    table.setAttribute("class", "talk_table");
    //
    // var thead = document.createElement('tr');
    // thead.innerHTML = "<th></th> <th>Title</th> <th>Event / Location</th><th>Date</th>"
    // table.appendChild(thead);

    for (talk of all_talks[year]) {
      var row = make_row(talk["icon"], talk["title"], talk["file"], talk["description"], talk["date"]);
      table.appendChild(row);
    }

    cont.appendChild(table);
  }

</script>


  <!-- {% for node in site.data.talks %}
    <tr>
      {% if node.venue == "virtual" %}
        <td><img src="/img/location_virtual_{{node.type}}.svg" alt=""></td>
      {% else %}
        <td><img src="/img/location_{{node.type}}.svg" alt=""></td>
      {%endif%}
      <td><a target='blank' class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.file }}">{{ node.title }}</a></td>
      <td>{% if node.event %} {{node.event}} @ {% endif %}{{ node.venue }}</td>
      <td>{{ node.date }}</td>
    </tr>
  {% endfor %} -->
